/*@import "govuk-elements";*/
/* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-row:after, #content:after, .notice:after {
  content: "";
  display: block;
  clear: both;
}

/* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
#content {
  max-width: 960px;
  margin: 0 15px;
}
@media (min-width: 641px) {
  /* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
  #content {
    margin: 0 30px;
  }
}
@media (min-width: 1020px) {
  /* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
  #content {
    margin: 0 auto;
  }
}

/* line 64, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
.grid-row {
  margin: 0 -15px;
}

/* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-row:after, #content:after, .notice:after {
  content: "";
  display: block;
  clear: both;
}

/* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-row:after, #content:after, .notice:after {
  content: "";
  display: block;
  clear: both;
}

/* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-row:after, #content:after, .notice:after {
  content: "";
  display: block;
  clear: both;
}

/* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
#content {
  max-width: 960px;
  margin: 0 15px;
}
@media (min-width: 641px) {
  /* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
  #content {
    margin: 0 30px;
  }
}
@media (min-width: 1020px) {
  /* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
  #content {
    margin: 0 auto;
  }
}

/* line 64, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
.grid-row {
  margin: 0 -15px;
}

/* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-row:after, #content:after, .notice:after {
  content: "";
  display: block;
  clear: both;
}

/* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-row:after, #content:after, .notice:after {
  content: "";
  display: block;
  clear: both;
}

/* line 19, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_helpers.scss */
.example-highlight-grid .grid-row {
  background: #bfc1c3;
}
/* line 23, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_helpers.scss */
.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

/* line 31, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_helpers.scss */
.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* line 6, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_reset.scss */
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark {
  border: none;
  margin: 0;
  padding: 0;
}

/* line 85, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
textarea,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}

/* line 121, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_reset.scss */
abbr[title],
acronym[title] {
  text-decoration: none;
}

/* line 9, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
#content {
  padding-bottom: 30px;
}
@media (min-width: 769px) {
  /* line 9, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
  #content {
    padding-bottom: 90px;
  }
}

/* line 42, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
.column-quarter,
.column-one-quarter {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 641px) {
  /* line 42, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
  .column-quarter,
  .column-one-quarter {
    float: left;
    width: 25%;
  }
}

/* line 47, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
.column-half,
.column-one-half {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 641px) {
  /* line 47, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
  .column-half,
  .column-one-half {
    float: left;
    width: 50%;
  }
}

/* line 52, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
.column-third,
.column-one-third {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 641px) {
  /* line 52, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
  .column-third,
  .column-one-third {
    float: left;
    width: 33.33333%;
  }
}

/* line 57, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
.column-two-thirds {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 641px) {
  /* line 57, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_layout.scss */
  .column-two-thirds {
    float: left;
    width: 66.66667%;
  }
}

/* line 7, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
main {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  -webkit-font-smoothing: antialiased;
}
@media (min-width: 641px) {
  /* line 7, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  main {
    font-size: 19px;
    line-height: 1.31579;
  }
}

/* line 13, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.font-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.03774;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
}
@media (min-width: 641px) {
  /* line 13, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .font-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

/* line 17, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.font-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
}
@media (min-width: 641px) {
  /* line 17, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .font-xlarge {
    font-size: 48px;
    line-height: 1.04167;
  }
}

/* line 21, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.font-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.04167;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
}
@media (min-width: 641px) {
  /* line 21, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .font-large {
    font-size: 36px;
    line-height: 1.11111;
  }
}

/* line 25, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.font-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
}
@media (min-width: 641px) {
  /* line 25, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .font-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

/* line 29, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.font-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
}
@media (min-width: 641px) {
  /* line 29, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .font-small {
    font-size: 19px;
    line-height: 1.31579;
  }
}

/* line 33, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.font-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
}
@media (min-width: 641px) {
  /* line 33, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .font-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 38, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.bold-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.03774;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
}
@media (min-width: 641px) {
  /* line 38, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .bold-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

/* line 42, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.bold-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
}
@media (min-width: 641px) {
  /* line 42, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .bold-xlarge {
    font-size: 48px;
    line-height: 1.04167;
  }
}

/* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
}
@media (min-width: 641px) {
  /* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .bold-large {
    font-size: 36px;
    line-height: 1.11111;
  }
}

/* line 50, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.bold-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
}
@media (min-width: 641px) {
  /* line 50, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .bold-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

/* line 54, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.bold-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
}
@media (min-width: 641px) {
  /* line 54, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .bold-small {
    font-size: 19px;
    line-height: 1.31579;
  }
}

/* line 58, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.bold-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
}
@media (min-width: 641px) {
  /* line 58, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .bold-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

/* line 67, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em;
}
@media (min-width: 641px) {
  /* line 67, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-xlarge {
    font-size: 48px;
    line-height: 1.04167;
  }
}
@media (min-width: 641px) {
  /* line 67, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-xlarge {
    margin-top: 0.625em;
    margin-bottom: 1.25em;
  }
}
/* line 78, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.heading-xlarge .heading-secondary {
  font-family: "nta", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.11111;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  display: block;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}
@media (min-width: 641px) {
  /* line 78, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-xlarge .heading-secondary {
    font-size: 27px;
    line-height: 1.11111;
  }
}
@media (min-width: 641px) {
  /* line 78, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-xlarge .heading-secondary {
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

/* line 87, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.heading-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.04167;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
  margin-top: 1.04167em;
  margin-bottom: 0.41667em;
}
@media (min-width: 641px) {
  /* line 87, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-large {
    font-size: 36px;
    line-height: 1.11111;
  }
}
@media (min-width: 641px) {
  /* line 87, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-large {
    margin-top: 1.25em;
    margin-bottom: 0.55556em;
  }
}
/* line 98, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.heading-large .heading-secondary {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  display: block;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #6f777b;
}
@media (min-width: 641px) {
  /* line 98, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-large .heading-secondary {
    font-size: 24px;
    line-height: 1.25;
  }
}
@media (min-width: 641px) {
  /* line 98, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-large .heading-secondary {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

/* line 107, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.heading-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}
@media (min-width: 641px) {
  /* line 107, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}
@media (min-width: 641px) {
  /* line 107, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-medium {
    margin-top: 1.875em;
    margin-bottom: 0.83333em;
  }
}

/* line 120, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.heading-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  font-size-adjust: 0.525;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
}
@media (min-width: 641px) {
  /* line 120, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-small {
    font-size: 19px;
    line-height: 1.31579;
  }
}
@media (min-width: 641px) {
  /* line 120, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .heading-small {
    margin-top: 1.05263em;
  }
}

/* line 133, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
p {
  margin-top: 0.3125em;
  margin-bottom: 1.25em;
}
@media (min-width: 641px) {
  /* line 133, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  p {
    margin-top: 0.26316em;
    margin-bottom: 1.05263em;
  }
}

/* line 145, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.lede {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
}
@media (min-width: 641px) {
  /* line 145, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .lede {
    font-size: 24px;
    line-height: 1.25;
  }
}

/* line 151, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.text {
  max-width: 30em;
}

/* line 155, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.text-secondary {
  color: #6f777b;
}

/* line 160, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.link {
  color: #005ea5;
  text-decoration: underline;
}

/* line 165, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.link:visited {
  color: #4c2c92;
}

/* line 169, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.link:hover {
  color: #2b8cc4;
}

/* line 173, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.link:active {
  color: #005ea5;
}

/* line 179, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.link-back {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 400;
  text-transform: none;
  font-size-adjust: 0.5;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: #0b0c0c;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;
}
@media (min-width: 641px) {
  /* line 179, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
  .link-back {
    font-size: 16px;
    line-height: 1.25;
  }
}
/* line 191, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
  color: #0b0c0c;
}
/* line 202, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

/* line 229, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.code {
  color: #0b0c0c;
  background-color: #f8f8f8;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  border: 1px solid #bfc1c3;
  padding: 4px 4px 2px;
}

/* line 257, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
hr {
  display: block;
  background: #bfc1c3;
  border: 0;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

/* line 272, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.notice {
  position: relative;
}
/* line 276, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.notice .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px;
}
/* line 283, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_elements-typography.scss */
.notice strong {
  display: block;
  padding-left: 65px;
  margin-left: -15px;
}

@-moz-document regexp('.*') {
  /* line 10, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk-elements-sass/public/sass/elements/_shame.scss */
  details summary:not([tabindex]) {
    display: list-item;
    display: revert;
  }
}
/* line 46, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_shims.scss */
.grid-row:after, #content:after, .notice:after {
  content: "";
  display: block;
  clear: both;
}

/* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
#content {
  max-width: 960px;
  margin: 0 15px;
}
@media (min-width: 641px) {
  /* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
  #content {
    margin: 0 30px;
  }
}
@media (min-width: 1020px) {
  /* line 18, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
  #content {
    margin: 0 auto;
  }
}

/* line 64, /Users/graham/workspace/ukti/hmrc-form/node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout.scss */
.grid-row {
  margin: 0 -15px;
}

/*# sourceMappingURL=main.css.map */
